.app {
  width: 20%;
  margin: 0 auto;
}

.keypad {
  width: 100%;
  margin: 0 auto;
}

.numbers {
  width: 25%;
  padding: 25px 0;
  border: 0;
  border: 1px solid lightblue;
}

.last-big-0 {
  width: 50%;
  padding: 25px 0;
  border: 0;
  border: 1px solid lightblue;
}

.yellow-numbers {
  width: 25%;
  padding: 25px 0;
  background-color: #f5923e;
  border: 1px solid lightblue;
  height: 100%;
}

.result {
  width: 100%;
  background-color: darkgray;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 0;
  margin: 0;
  color: white;
  font-weight: 700;
}

.calculator-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main-wrapper {
  height: 100vh;
}
